x-general: &general
  image: yolov9
  build:
    context: .
    dockerfile: Dockerfile
  entrypoint: ["tail", "-f", "/dev/null"]
  volumes:
    - ./:/yolov9:rw
    - ./datasets:/yolov9/datasets:rw
  shm_size: "8gb"
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            capabilities: [gpu]

services:
  cmd:
    <<: *general
    container_name: yolov9-cmd
    entrypoint: ["tail", "-f", "/dev/null"]
